body{
    background-color: rgb(153, 84, 84);
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 100px;
    height: 200px;
    width: 370px;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
    padding: 10px;
    color: red;
    font-weight: bold;
    border-radius: 1rem;
    border: 10px double blue;
}
.date{
    display: flex;
}
.box{
    font-size: 40px;
    border: 1px solid blue;
    
}
.id{
    margin: 0px;
    padding: 0px;
    margin-top: 40px;
    font-size: 12px;
}
.time{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
   height: 50px;
   font-size: 42px;
}
#time{
    border: 1px solid blue;
    padding: 5px;
    width: 275px;
    height: auto;
}
#pm{
    font-size: 20px;
}
.day{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

